.image-container {
  position: relative;
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.image-button {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: bisque;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  opacity: 0.5;
}
.image-button:hover {
  opacity: 1;
  cursor: pointer;
}
