.header {
  height: 40px;
  background-color: yellow;
}
.list {
  height: 40px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}
.list_i {
  margin-left: 16px;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.f_text {
  margin: auto;
}
.main {
  flex-grow: 1;
  display: flex;
}
.content {
  display: flex;
  background-color: pink;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.news {
  width: 200px;
  background-color: grey;
  display: flex;
  flex-direction: column;
}
.asideNews {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: center;
}
.list2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list2_i {
  height: 40px;
  margin-left: 16px;
}
