* {
  box-sizing: border-box;
}
.container {
  /* display: flex; */
  /* height: 100vh; */
}
.spinner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border: 4px solid lightgray;
  border-radius: 50%;
  margin-bottom: 8px;
  animation: load 2s linear infinite;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    transform: rotate(45deg);
    border-top-color: black;
  }
  25% {
    /* transform: rotate(45deg); */
    border-top-color: black;
    border-right-color: black;
  }
  50% {
    /* transform: rotate(45deg); */
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
  }
  100% {
    /* transform: rotate(45deg); */
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
  }
}
