* {
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  margin: 8px;
}

.menu-button {
  position: absolute;
  padding: 16px;
  background-color: darkgreen;
  opacity: 0.8;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 8px;
}
.menu-list {
  position: absolute;
  top: 55px;
  left: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 120px;
  color: black;
  display: none;
  background-color: lightcyan;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu-item {
  padding: 16px;
}
.menu-item:hover {
  color: ghostwhite;
}

.dropdown:hover .menu-list {
  display: block;
}
.menu-button:hover {
  opacity: 1;
}
