@import 'layout.scss';

* {
  box-sizing: border-box;
}
.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
}
.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
}
.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
}
span {
  margin: auto;
  font-family: Verdana;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  text-transform: lowercase;
}
