@media (min-width: 600px) {
  .products {
    display: flex;
  }
  .navigation,
  .products-list {
    flex: 1;
  }
}
@media (min-width: 900px) {
  .container {
    display: flex;
  }
  .products {
    flex: 2;
  }
  .news {
    flex: 1;
  }
}
