.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-text {
  position: relative;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner {
  position: relative;
}
.rect {
  position: absolute;
  background-color: black;
  height: 4px;
  width: 10px;
  border-radius: 2px;

  animation: moving 2s, blinking 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
