.list {
  list-style-type: none;
  font-size: 1.5em;
}
.third {
  text-decoration-line: underline;
  text-decoration-color: green;
}
.second {
  text-decoration-line: line-through;
}
.first {
  text-decoration-line: overline;
  text-decoration-color: red;
}
