* {
  box-sizing: border-box;
}
.block {
  position: absolute;
  left: calc(50% - 125px);
  height: 100px;
  width: 200px;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: move 2s;
  animation-fill-mode: forwards;
}
.block-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
@keyframes move {
  from {
    top: 100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
