* {
  box-sizing: border-box;
}
html {
  font-family: Verdana;
  color: #555;
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: linear-gradient(60deg, red, orange);
  color: white;
}

h1 {
  text-align: center;
}

.navigation {
  padding: 0.5em;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  background-color: #808080;
  color: white;
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-list-link {
  width: 100%;
  display: inline-block;
  padding: 0 0.5em;
  color: white;
  text-decoration: none;
}
.section {
  font-size: 1.25em;
  padding: 0.5em;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.news {
  padding: 0.5em;
}
.footer {
  width: 100%;
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
picture {
  display: block;
  margin: auto;
}

@media (min-width: 600px) {
  .mid-screen {
    display: flex;
  }
  .section {
    flex: 5;
  }
  .navigation {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .main {
    display: flex;
  }
  .mid-screen {
    flex: 5;
  }
  .news {
    flex: 1;
  }
}
