.header {
  height: 3em;
  margin: 0;
  background-color: #006400;
}
nav {
  display: flex;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 3em;
  text-transform: uppercase;
  color: white;
  align-items: center;
  list-style: none;
  cursor: pointer;

  &__item {
    padding: 0 8px;
    line-height: 3em;
  }
  &__item:hover {
    background-color: #9acd32;
  }

  &__item_active {
    color: yellow;
    position: relative;
  }

  &__item:hover > .submenu {
    display: block;
  }
}

.submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  background-color: #ff7f50;
  color: #fff;
  list-style: none;
  z-index: 1;

  &__item {
    padding: 0 8px;
  }

  &__item:hover {
    color: black;
  }
}
