* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  height: 100vh;
}
.header {
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
  display: flex;
}
.fa-bars {
  font-size: 2em;
}
.header-button {
  padding: 0;
  border: none;
  cursor: pointer;
  margin: auto 0;
}
.navigation {
  width: 20%;
  padding: 0.5em;
  visibility: hidden;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  display: flex;
  background-color: #808080;
  color: white;
  height: 2em;
  margin-bottom: 0.5em;
}
.nav-list-link {
  padding: 0.5em;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 600px) {
  .navigation {
    visibility: visible;
  }
  .fa-bars {
    visibility: hidden;
  }
}
