* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  z-index: 1;
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  margin: 0px;
  position: fixed;
  top: 0px;
}
.navigation {
  height: 40px;
  line-height: 1px;
}
.nav-list {
  height: 40px;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.nav-item {
  float: left;
  margin-left: 16px;
  color: white;
  position: relative;
  top: 50%;
}
.content {
  height: 5000px;
  position: relative;
}
.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.ear {
  height: 60px;
  width: 40px;
  background-color: brown;
}
.ear_left {
  position: absolute;
  top: -60px;
  left: -40px;
}
.ear_right {
  position: absolute;
  top: -60px;
  right: -40px;
}
.eye {
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 50%;
}
.eye_left {
  position: absolute;
  top: 80px;
  left: 40px;
}
.eye_right {
  position: absolute;
  top: 80px;
  right: 40px;
}
