* {
  box-sizing: border-box;
}
.nav {
  display: flex;
  background-color: #ff7f50;
  height: 200px;
  flex: 1;
}

.prod-list {
  display: flex;
  background-color: #006400;
  height: 200px;
  flex: 1;
}

.news {
  display: flex;
  background-color: #0ff;
  height: 200px;
  flex: 1;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex: 2;
  }
}

@media screen and (min-width: 900px) {
  .wraper {
    display: flex;
    flex: 1;
  }
}
