@import 'breakpoints.scss';
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  @include orient {
    display: flex;
    flex-direction: row;
    margin: 8px;
  }
}
.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin: 16px;

  @include for-small-up {
    background-color: #8a2be2;
    margin: 8px;
  }

  @include for-medium-up {
    background-color: #a61;
    margin: 8px;
  }

  @include for-large-up {
    background-color: #c47;
    margin: 8px;
  }
  @include orient {
    margin: 8px;
  }
}
