.theOne {
  box-sizing: border-box;
  background-color: bisque;
  font-size: 24px;
  margin: 50px 100px;
  padding: 20px;
  border-width: 10px 20px;
  border-style: solid solid dashed dashed;
  border-color: firebrick chartreuse burlywood aqua;
}
