* {
  box-sizing: border-box;
}
.page {
  background-color: bisque;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: monospace;
}
.login-form {
  background-color: aqua;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-transform: uppercase;
  text-align: center;
}
.form-control {
  margin-top: 8px;
}
.form-label {
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
}
.submit-button {
  width: 100%;
  height: 32px;
  background-color: #ff7f50;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 16px;
  border: none;
}

.form-input:invalid {
  border: 3px solid #ff0000;
}
.form-input[name='userName']:empty {
  border: 3px solid #ff0000;
}
