html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* margin: 32px; */
}
section {
  margin: 32px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  line-height: 28px;
  font-weight: 400;
}
b {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
em {
  color: grey;
}
