body {
  background-color: antiquewhite;
}
.block {
  width: 512px;
  height: 128px;
  margin: 16px;
  padding: 16px;
  border: 8px solid black;
}
.blk1 {
  box-sizing: content-box;
  background-color: aquamarine;
}
.blk2 {
  box-sizing: border-box;
  background-color: azure;
}
