/* * {
  box-sizing: border-box;
} */
.header {
  z-index: 1;
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  position: fixed;
}
.nav-item {
  line-height: center;
  float: left;
  margin-left: 16px;
  color: white;
  font-size: 16px;
}
.content {
  position: relative;
  height: 5000px;
  background-color: beige;
}
.nav-list {
  line-height: 40px;
  margin: 0;
}
.head {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin: 0;
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.ear_left {
  position: absolute;
  top: -60px;
  left: -40px;
}
.ear_right {
  position: absolute;
  top: -60px;
  right: -40px;
}
.eye {
  background-color: gray;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.eye_left {
  position: absolute;
  float: left;
  top: 80px;
  left: 40px;
}
.eye_right {
  position: absolute;
  float: right;
  top: 80px;
  left: 120px;
}
